@page
@model Mission11_ajames26.Pages.PurchaseModel
@{
}

<h2>Cart</h2>

<div class="alert alert-success alert-dismissible">
    The purchase of these @Model.cart.CartItems.Count() item(s) will help fund Andrew's education journey.
</div>

<table class="table table-bordered table-hover">
    @*Headers*@
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    @*Body*@
    <tbody>
        @foreach (var item in Model.cart.CartItems)
        {
            <tr>
                <td>
                    @item.Book.Title
                </td>
                <td>
                    @(item.Book.Price.ToString("c"))
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @((item.Book.Price * item.Quantity).ToString("c"))
                </td>
                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@item.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    @*Body*@
    <tfoot>
        <tr>
            <td colspan="3">
                Total:
            </td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Keep Shopping</a>
    <a class="btn btn-success" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Check Out</a>
</div>